################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StronaMVC/.vs/StronaMVC/v15/Server/sqlite3
